.navbar-up {
    h2 {
        border: 1px solid green;
    }
    .header-up {
        
        height: 70px;
        display: flex;
        gap: 144px;
        align-items: center;
        margin: 0px 207px;
        justify-content: space-between;
        .content-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #fcfcfc;

            .text-item {
                margin-left: 5px;
                font-size: 1.7rem;
            }
        }
    }
}

.navbar-down {
    .header-down {
        height: 70px;
        display: flex;
        font-size: 1.99rem;
        border-top: 1px solid #9d9595;
        border-bottom: 1px solid #9d9595;

        .left-content {
            display: flex;
            width: 85%;
            gap: 55px;

            align-items: center;
            justify-content: center;

            .child-content {
                cursor: pointer;
                color: #fcfcfc;

                &:hover {
                    color: #27a577;
                }
            }
        }

        .right-content {
            display: flex;
            //border: 1px solid red;
            width: 15%;
            align-items: center;
            justify-content: center;

            .support {
                margin-right: 75px;
                color: #fcfcfc;
                cursor: pointer;

                &:hover {
                    color: #27a577;
                }

                i {
                    margin-right: 5px;
                }
            }

            
        }
    }
}