#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(0, 26, 255);

    &:hover {
        background-color: transparent !important;
        color: rgb(255, 196, 0) !important;
    }
}

.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: red;

    &:hover {
        background-color: transparent !important;
        color: rgb(255, 196, 0) !important;
    }
}

.modal-container {

    .modal-content {
        .modal-header {
            button {
                background-color: transparent !important;
                color: #fff;
                border: none;
                font-size: 27px;
            }
        }
    }

    .modal-user-body {
        display: flex;
        gap: 15px;

        .input-container {
            display: block;
            flex-direction: column;
            width: 100%;
            margin: 15px 5px;

            input {
                border-radius: 3px;
                height: 40px;
            }

            .form-control {
                font-size: 15px;
            }

            .form-select {
                font-size: 15px;
            }
        }
    }

}