.detail-specialty-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;

    .description-specialty {
        border: 1px solid rgb(0, 0, 0);
    }

    .detail-specialty-body {
        padding: 40px 50px;
        background-color: #eee;
        box-shadow: 0 1px 6px #202124;
    }

    .province-specialty-btn {
        margin-top: 10px;
        border: 1px solid rgb(0, 0, 0);
        height: 30px;
        padding: 0px 8px;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .each-doctor {
        display: flex;
        width: 90%;
        min-height: 300px;
        margin: 35px auto;
        background-color: #fff;
        box-shadow: 0 1px 6px #202124;
        border-radius: 5px;
        padding: 10px;
        width: 100%;

        .pt-content-left {
            width: 50%;
            border-right: 1px solid #ddd;

            .down {
                padding-right: 5px;
                padding-bottom: 10px;
            }
        }

        .pt-content-right {
            width: 50%;
            padding: 10px;

            .doctor-schdule {
                .doctor-schdule-container {
                    border-right: unset !important;
                }
            }

            .doctor-extra-infor {
                // border     : 1px solid #ddd;
                margin-top: 10px;
                padding-top: 10px;

                .doctor-extra-infor-container {
                    padding-left: 0 !important;
                    border: none;
                }
            }

        }
    }
}