.doctor-extra-infor-container {
    padding-left: 15px;
    border-left: 1px solid #ccc;

    .content-upper {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;

        .address-clinic {
            text-transform: uppercase;
            color: #333;
            font-weight: 600;
        }

        .name-clinic {
            padding: 5px 0;
            color: #333;
        }

        .detail-clinic {
            color: #333;
        }
    }

    .content-down {

        .price {
            text-transform: uppercase;
            color: #333;
            font-weight: 600;
        }

        .mini-price {
            text-transform: uppercase;
            color: #333;
            font-weight: 600;

            .currency {
                font-weight: 600;

                &:hover {
                    color: orange;
                }
            }
        }

        .show-hide-btn {
            color: rgb(59, 160, 194);
            font-size: 15px;
            cursor: pointer;

            &:hover {
                color: orange;
            }
        }
    }
}