.section-doctor {
    height: 410px;
    background: #fff;

    scrollbar-gutter: var(--gutter, auto);

    .doctor-container {
        margin: 0 80px;
        display: flex;
        flex-direction: column;

        .doctor-header {
            display: flex;
            height: 50px;
            justify-content: space-between;
            margin: 0 15px;


            .tilte-spec {
                font-size: 3rem;
                font-weight: 600;
                color: #363636;
            }
        }

        .doctor-customize {
            width: 100%;
            display: inline-block;
            height: 224px;
            border: 1px solid #d5d9d7;
            padding: 20px 0;
            .text-doctor {
                text-align: center;
                font-size: 1.5rem;
                margin: 10px 0;
            }
        }

        .doctor-body {}
    }

    .img-customize {
        height: 300px;

    }

    h3 {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid green;
    }

}