.verify-email-container {
    .info-booking {
        font-size: 27px;
        font-weight: 600;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        color: blue;
    }
}